.admin_panel {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
}
.admin_title {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
}
.admin_wrapper {
    margin-top: 80px;
}
.tabs_books {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.books_title {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}
.allbooks_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.pagination {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.pagination_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.pagination_elem {
    padding:7px 10px;
    background-color: #0B6BCB;
    color: white;
    cursor: pointer;
}
.add_book {
    display: flex;
    flex-direction: column;

}
.add_book_title {
    font-size: 24px;
    font-weight: 400;
}
.add_book>form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.add_book>form>div {
    width: 300px;
}
.add_book>form>div>select {
    width: 300px;
}
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    background-color: #f9fbfc;
    color: #6b7280;
    font-size: 15px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

select:focus {
    border-color: #cbd0d7;
}
